@tailwind base;
@tailwind components;
@tailwind utilities;

body, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

@layer base {
  :root { 
    --background-color-main: hsl(222, 26%, 31%);
    --background-color-key-main: hsl(225, 21%, 49%);
    --key-bg: hsl(30, 25%, 89%);
    --key-bg-red: hsl(6, 63%, 50%);
    --primary-text-color: hsl(221, 14%, 31%);
    --primary-input-display: hsl(224, 36%, 15%);
    --primary-keypad-bg: hsl(223, 31%, 20%);
    --bg-key-shadow: hsl(224, 28%, 35%); 
    --bg-key-red-shadow: hsl(6, 70%, 34%);
    --bg-key-white-shadow: hsl(28, 16%, 65%);
  }
}

.bg-primary {
  background-color: var(--background-color-main);
}

.bg-key-primary {
  background-color: var(--background-color-key-main);
}

.bg-key {
  background-color: var(--key-bg);
}

.bg-key-red {
  background-color: var(--key-bg-red);
}

.primary-text-color {
  color: var(--primary-text-color);
}

.primary-input-display {
  background-color: var(--primary-input-display);
}

.primary-keypad-background {
  background-color: var(--primary-keypad-bg);
}

.shadow {
  border-bottom-color: var(--bg-key-shadow);
  border-bottom-width: 2px;
}

.shadow-red {
  border-bottom-color: var(--bg-key-red-shadow);
  border-bottom-width: 2px;
}

.shadow-white {
  border-bottom-color: var(--bg-key-white-shadow);
  border-bottom-width: 2px;
}